<%= form_for @repository do |f| %>

<div class="row repo-show white">
    <div class="container z-depth-1">
         <div class="row">
            <div class="col l12"><h4 class="para-text" style="margin-left: 10px"> Repo Name</h4></div>
            <form class="col s12 poc_form">
                <div class="row">
                  <div class="col l5">
                    <div style="width:300">
                        <div class="hovereffect" onclick="$('#poc_image').trigger('click');   ">
                            <%= image_tag @repository.poc_image, width: 300 %>
                            <div class="overlay">
                                <h2>Image</h2>
                                <p>
                                  <a href="#">EDIT</a>
                                </p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col l7">
                    <div class="input-field col l12">
                        <%= f.text_area :description, class: "materialize-textarea poc_desc_text_area" %>
                        <label for="textarea1">Description</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col l12">
                    <label for="chips">Tags</label>
                      <%= f.text_field :tag_list, class: "materialize-textarea poc_desc_text_area" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col l12">
                    <button class="btn waves-effect waves-light" style="float:right" type="submit" name="action">PREVIEW
                      <i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%= f.hidden_field :id %>
<%= f.file_field :poc_image, id: 'poc_image' ,accept:'image/*', hidden: true %>
<%= f.hidden_field :author_name %>
<%= f.hidden_field :avatar_url %>
<%= f.hidden_field :repo_id %>
<%= f.hidden_field :name %>
<%= f.hidden_field :private %>
<%= f.hidden_field :download_link %>
<%= f.hidden_field :clone_url %>
<%= f.hidden_field :git_url %>
<%= f.hidden_field :ssh_url %>
<%= f.hidden_field :svn_url %>
<%= f.hidden_field :no_of_stars %>
<%= f.hidden_field :no_of_watchers %>
<%= f.hidden_field :has_wiki %>
<%= f.hidden_field :wiki_url %>
<%= f.hidden_field :repo_created_at %>
<%= f.hidden_field :last_updated_at %>
<%= f.hidden_field :no_of_downloads %>
<%= f.hidden_field :no_of_views %>
<%= f.hidden_field :no_of_bookmarks %>

<%= f.fields_for :languages do |builder| %>
  <%= render 'language_fields', :f => builder %>
<% end %>

<%= f.submit %>
<% end %>

<script>
document.getElementById("poc_image").onchange = function () {
    var reader = new FileReader();
    reader.onload = function (e) {
        document.getElementById("image").src = e.target.result;
    };
    reader.readAsDataURL(this.files[0]);
};
$(document).ready(function(){
  $('.chips-placeholder').material_chip({
    placeholder: 'Enter a tag',
    secondaryPlaceholder: '+Tag',
  });
})
  $("#poc_image").onclick = function () {
    alert('abc');
};

</script>