<div id="repository_preview" hidden=true>
  <%= render partial: 'repository_preview' %>
</div>
<main>
  <section class="repository-details">
    <div class="container z-depth-1" id="repository_update">
      <div class="row body-content">
        <div class="col s12">
          <div class="add-repo-body">
            <div class="top-bg">
            </div>
            <div class="repo-content">
              <div class="repo-img" onclick="Common.triggerPOCImage();">
                <span>
                  <%= image_tag @repository.poc_image, class: "responsive-img z-depth-1", id: "image" %>
                </span>
                <!-- <div class="overlay">
                  <h2>Image</h2>
                  <p>EDIT</p>
                </div> -->
              </div>
              <h1 class="center-align"><%= @repository.name.titleize %></h1>
              <div class="row" id="form-design">
                <div class="input-field col m6 s12">
                  <textarea id="description" class="materialize-textarea">
                    <%= @repository.description %>
                  </textarea>
                  <label for="description">Description</label>
                </div>
                <div class="input-field col m6 s12">
                  <input type="text" data-role="materialtags" value="<%= @repository.tag_list.to_s %>" id="tag_list">
                  <label for="chips">Tags</label>
                </div>
                <div class="input-field col s12 center-align">
                  <button class="btn waves-effect" type="submit" name="action" id="btn_preview">
                    Preview
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  $(document).ready(function () {
    if ($('#description')[0].value != "") {
      $('#description').focus();
    }

    $("#tag_list").on('keyup', function (e) {
      Common.displayTags(e);
    });

    $("#btn_preview").on('click',function () {
      Common.displayPreview();
    });

    $("#poc_image").on('change',function (e) {
      var file = this.files[0];
      Common.uploadImage(e, file);
    });

    $('.chips-placeholder').material_chip({placeholder: 'Enter a tag', secondaryPlaceholder: '+Tag'});
  });
</script>
