<div id='repositories_section'>
  <% @repositories.each do |repository| %>
  <div class="col s12 m4">
    <!-- new card start -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= link_to(repository) do %>
        <%= image_tag repository.poc_image, width: "305", height: "229", sizes: "(max-width: 305px) 100vw, 305px", title: "POC Image", alt: "POC Image", class: "responsive-img wp-post-image" %>
        <% end %>
      </div>
      <div class="card-content">
        <p class="area">
          <a href="https://github.com/<%= repository.author_name %>"><%= repository.author_name %></a>
        </p>
        <span class="card-title activator brown-text text-darken-4">
          <%= link_to(repository) do %>
          <%= repository.name %>
          <% end %>
        </span>
        <p>
          <span style="float: left; padding-right: 1rem;">
            <i style="font-size: 1.3rem; padding-right: 10px;" class="material-icons light-blue-text">visibility</i><%= repository.impressions.count %>
          </span>
          <span style="float: right; padding-right: 1rem;">
            <div id="fav_repo_<%=repository.id%>"><%= render partial: "favourite_repo", locals: { repository: repository } %></div>
          </span>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<script>
  var nextPage,
    previousPage;
  previousPage = 0;
  nextPage = <%= @repositories.next_page %>
  $(window).on('scroll', function () {
    if ((previousPage < nextPage) && $(window).scrollTop() > $(document).height() - $(window).height() - 60) {
      $("#load_info").text("Loading...");
      path = "/repositories/";
      data = {page: nextPage};
      if (!$("#key_word")[0].value == "")
      {
        path = "/repositories/search/";
        data = Object.assign({},data, {key_word: $("#key_word")[0].value,
                                      language: $("#language")[0].value,
                                      append: true});
      }

      $.ajax({
        url: path,
        type: 'get',
        dataType: 'script',
        data: data
      });
      previousPage = nextPage;
      $("#load_info").text("");
      return;
    }
  });
</script>
