<main class="no-padding">
  <div class="section white">
    <div class="container">
      <!-- iterate for all repos -->
      <div class="row">
        <div class="col m12 s12">
          <div class="section">
            <% @repositories.each do |repository| %>
            <div class="col s12 m4">
              <!-- new card start -->
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <%= link_to(repository) do %>
                  <%= image_tag repository.poc_image, width: "305", height: "229", sizes: "(max-width: 305px) 100vw, 305px", title: "POC Image", alt: "POC Image", class: "responsive-img wp-post-image" %>
                  <% end %>
                </div>
                <div class="card-content">
                  <p class="area">
                    <a href="https://github.com/<%= repository.author_name %>"><%= repository.author_name %></a>
                  </p>
                  <a data-deeplink="adbeus://standard-coffee-bar" href="https://adbeus.com/montreal/westmount/standard-coffee-bar/">
                    <span class="card-title activator brown-text text-darken-4">
                      <%= repository.name %>
                    </span>
                  </a>
                  <p>
                    <span style="float: left; padding-right: 1rem;">
                      <i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" class="material-icons light-blue-text">visibility</i><%= repository.impressions.count %>
                    </span>
                    <span style="float: right; padding-right: 1rem;">
                      <div id="fav_repo_<%=repository.id%>"><%= render partial: "favourite_repo", locals: { repository: repository } %></div>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- row complete-->
    </div>
  </div>
</main>
