<main>
  <section class="bg-section">
    <div class="container fullheight">
      <div class="row valign-wrapper green-bg">
        <div class="col s12 valign center-align">
          <h1>Connect &bull; Add &bull; Share</h1>
          <p>Show off your research and development</p>
          <p>Open Source your knowledge and make better community for today and tomorrow</p>
          <% unless current_user.present? %>
            <a href="/auth/github" class="git-btn waves-effect btn-large">
              <i class="fa fa-github" aria-hidden="true"></i>
              Signup with GitHub
            </a>
          <% end %>
          <div class="row">
            <%= form_tag("/repositories/search/", method: :get, remote: true, id: "searchform") do %>
              <div class="input-field col s6 center-align">
                <%= select_tag 'language', options_for_select(languages_for_option),
                onchange: "Common.searchRepoByLanguage('#searchform')" %>
              </div>
              <div class="input-field col s6 center-align">
                <%= text_field_tag 'key_word', nil, placeholder: "search",
                 class: "validate searchbox", title: "Enter to search", onkeyup: "Common.searchRepoByKeyword('#searchform')" %>
              </div>
              <input type="submit" hidden=true>
            <% end %>
          </div>
          <div class="row">
            <div class="col s12 m4">
              <h4><i class="fa fa-code" aria-hidden="true"></i>
                <%= Repository.count %>+ Projects
              </h4>
            </div>
            <div class="col s12 m4">
              <h4><i class="fa fa-users" aria-hidden="true"></i>
                <%= User.count %>+ Contributers
              </h4>
            </div>
            <div class="col s12 m4">
              <h4><i class="fa fa-language" aria-hidden="true"></i>
                <%= Language.count %>+ Languages
              </h4>
            </div>
            <div class="col s12">
              <a href="javascript:;" id="listing" class="down-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="repositories-listing">
    <div class="container">
      <div id="freewall">
        <%= render partial: 'repositories_view', locals: { repositories: @repositories } %>
        <input type="hidden" id="loaded_page" value="">
      </div>
    </div>
  </section>
</main>
<script>
$(document).ready(function () {
  if ($('input.select-dropdown').length == 0) {
    $('select').material_select();
    $(".dropdown-button").dropdown();
  }
});
  $(function() {
    $('.green-bg').css({
      'height': ($(window).height() - 64) + 'px'
    });
    $('#listing').click(function() {
      $("html,body").animate({
        scrollTop: $(window).height() - 64
      }, "slow");
      $('#search_fields').css({
        'display': 'block'
      });
      return false;
    });
  });
</script>
