<main>
  <section class="bg-section">
    <div class="container fullheight">
      <div class="row valign-wrapper green-bg">
        <div class="col s12 valign center-align">
          <h1>Connect &bull; Add &bull; Share</h1>
          <p>Show off your research and development</p>
          <p>Open Source your knowledge and make better community for today and tomorrow</p>
          <% unless current_user.present? %>
            <a href="/auth/github" class="git-btn waves-effect btn-large">
              <i class="fa fa-github" aria-hidden="true"></i>
              Signup with GitHub
            </a>
          <% end %>
          <div class="row">
            <%= render partial: 'search_form', locals: { searchform: 'index_search', keyword: 'index_keyword' } %>
          </div>
          <div class="row">
            <div class="col s12 m4">
              <h4><i class="fa fa-code" aria-hidden="true"></i>
                <%= useful_counts[:repository_count] %>+ Projects
              </h4>
            </div>
            <div class="col s12 m4">
              <h4><i class="fa fa-users" aria-hidden="true"></i>
                <%= useful_counts[:user_count] %>+ Contributers
              </h4>
            </div>
            <div class="col s12 m4">
              <h4><i class="fa fa-language" aria-hidden="true"></i>
                <%= useful_counts[:language_count] %>+ Languages
              </h4>
            </div>
            <div class="col s12">
              <a href="javascript:;" id="listing" class="down-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="repositories-listing">
    <div class="container">
      <div id="freewall">
        <%= render partial: 'repositories_view', locals: { repositories: @repositories } %>
        <input type="hidden" id="loaded_page" value="">
      </div>
    </div>
  </section>
</main>
<script>
  window.onload = Common.showSearchOnScroll();
  $(document).ready(function () {
    Common.selectDropdown();
    Common.showHideGreenBg();
  });
</script>
