<div class="row repo-show white">
  <div class="container z-depth-1">
    <div class="panel-layout">
      <div class="panel-box col-xs-8 col l10 white">
        <div class="panel-layout">
          <div class="panel-box col-xs-12 bg-green poc-img-show-box">
            <div class="panel-content">
              <div class="row">
                <div class="col l4">
                  <%= image_tag @repository.poc_image %>
                </div>
                <div class="col l8 para-text">
                  <h4 class="para-text"><%= @repository.name %></h4>
                  <h6>last updated on
                    <%= time_ago_in_words(@repository.last_updated_at) %> ago
                  </h6>
                  <% @repository.tag_list.each do |tag| %>
                  <div class="chip">
                     <a href="/repositories/tag/<%= tag %>"><%= tag %></a>
                  </div>
                  <% end %>
                  <div class="row">
                    <div class="col l12">
                      <div class="testimonial-author-wrapper">
                        <%= image_tag @repository.avatar_url, class: "auth-img img-rounded float-right", alt: "Author's image" %>
                        <div class="testimonial-author text-right">
                          <b><%= @repository.author_name %></b>
                          <span>UI Designer, Supina.com</span>
                        </div>
                      </div>
                      <%= social_share_button_tag(repository_url(@repository), desc: @repository.name) %>
                    </div>
                    <div id="fav_repo_<%=@repository.id%>"><%= render partial: "favourite_repo", locals: { repository: @repository } %></div>                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col l12 para-text">
                  <p class="poc-desc">
                    <%= @repository.description %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col l6">
                  <div id="barchart_values" style="margin-left: 20px; width: auto; height: 300px;"></div>
                </div>
                <div class="col l6 para-text">
                  <div class="row download-links">
                    <ul>
                      <li>
                        <i class="medium fa fa-github"></i>
                        <%= link_to "#{ @repository.svn_url }" do %>
                        GITHUB PAGE
                        <% end %>
                      </li>
                      <li>
                        <i class="medium fa fa-file-text-o"></i>
                        <%= link_to "#{ @repository.wiki_url }" do %>
                        GITHUB WIKI
                        <% end %>
                      </li>
                      <li>
                        <i class="medium fa fa-download"></i>
                        <%= link_to "#{ @repository.download_link }", onclick: "increment_downloads(#{@repository.id});"  do %>
                        DOWNLOAD
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-box col-xs-2 col l2 counter-box " style="vertical-align: top">
        <div class="panel-content">
          <div class="row">
            <div class="col l6" title="Stars">
              <i class="medium fa fa-star"></i>
            </div>
            <div class="col l6"><%= @repository.no_of_stars.to_i %></div>
          </div>
          <div class="row">
            <div class="col l6" title="Forks">
              <i class="medium fa fa-code-fork"></i>
            </div>
            <div class="col l6"><%= @repository.no_of_forks.to_i %></div>
          </div>
          <div class="row">
            <div class="col l6" title="Watchers">
              <i class="medium fa fa-bell"></i>
            </div>
            <div class="col l6"><%= @repository.no_of_watchers.to_i %></div>
          </div>
          <div class="row">
            <div class="col l6" title="Downloads">
              <i class="medium fa fa-download"></i>
            </div>
            <div class="col l6"><%= @repository.no_of_downloads.to_i %></div>
          </div>
          <div class="row">
            <div class="col l6" title="Views">
              <i class="medium fa fa-eye"></i>
            </div>
            <div class="col l6"><%= @repository.impressions.count.to_i %></div>
          </div>
          <div class="row">
            <div class="col l6" title="Favourites">
              <i class="medium fa fa-bookmark"></i>
            </div>
            <div class="col l6"><%= @repository.favourites.count.to_i %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  google.charts.load("current", {packages: ["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    array_data = <%= raw @language_graph %>
    var graph_style = [["Language", "Percentage", { role: "style" } ]];

    for(var lg=0; lg < array_data.length; lg++){
      graph_style.push(array_data[lg]);
    }

    var data = google.visualization.arrayToDataTable(graph_style);
    var view = new google.visualization.DataView(data);
    view.setColumns([
      0,
      1, {
        calc: "stringify",
        sourceColumn: 1,
        type: "string",
        role: "annotation"
      },
      2
    ]);

    var options = {
      title: "Language used in percentage",
      width: 350,
      height: 300,
      bar: {
        groupWidth: "15%"
      },
      legend: {
        position: "none"
      }
    };
    var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
    chart.draw(view, options);
  }

  function increment_downloads(repo_id)
  {
    $.ajax({
      type: "put",
      url: '/repositories/'+ repo_id + '/total_downloads'
    })
  }
</script>
