<h5 class="table-heading">Favourite POCs</h5>
<% if @favourite_pocs.present? %>
  <table class="highlight para-text dash-table">
    <thead>
      <tr>
        <th>No.</th>
        <th data-field="id">Name <%= sorting_link("name", "favourite_poc") %></th>
        <th data-field="price">Downloads <%= sorting_link("no_of_downloads", "favourite_poc") %></th>
        <th data-field="price">Views <%= sorting_link("impressions", "favourite_poc") %></th>
        <th data-field="price">Favourites <%= sorting_link("favourites", "favourite_poc") %></th>
      </tr>
    </thead>

    <tbody>
      <% @favourite_pocs.each_with_index do |poc, index| %>
      <tr>
        <td><%= serial_no(params[:favourite_poc_page], index) %></td>
        <td><%= poc.name %></td>
        <td><%= poc.no_of_downloads.to_i %></td>
        <td><%= poc.impressions.count.to_i %></td>
        <td><%= poc.favourites.count.to_i %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @favourite_pocs, param_name: 'favourite_poc_page',
    class: pagination[:class], previous_label: pagination[:previous_label],
    next_label: pagination[:next_label]  %>
<% else %>
  <h6 class="no-record">No Records found</h6>
<% end %>
<script>
  $('.tooltipped').tooltip({delay: 50});
</script>
