<% if @pocs.present? %>
  <table class="striped responsive-table tables-data pocs-data">
    <tr>
      <th>No.</th>
      <th>Name <%= sorting_link("name", "poc") %></th>
      <th>Downloads <%= sorting_link("no_of_downloads", "poc") %></th>
      <th>Views <%= sorting_link("impressions", "poc") %></th>
      <th>Favourites <%= sorting_link("favourites", "poc") %></th>
      <th>Show/Hide</th>
      <th>Actions</th>
    </tr>

    <% @pocs.each_with_index do |poc, index| %>
    <tr>
      <td><%= serial_no(params[:poc_page], index) %></td>
      <td><%= poc.name %></td>
      <td><%= poc.no_of_downloads.to_i %></td>
      <td><%= poc.impressions.count.to_i %></td>
      <td><%= poc.favourites.count.to_i %></td>
      <td>
        <div class="switch">
          <label>
            <input type="checkbox" onchange="Common.showOrHideRepo('<%= hide_repository_path(poc.id) %>')" <%= "checked" if poc.hide %>>
            <span class="lever"></span>
          </label>
        </div>
      </td>
      <td>
        <%= link_to edit_repository_path(poc.id), class: "action-links waves-effect tooltipped",
         data: { turbolinks: false, position: 'top', delay: '50', tooltip: "edit" }  do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        <%= link_to repository_path(poc.id, user_id: params[:id]), method: :delete,
         class: "action-links waves-effect tooltipped", data: { confirm: 'Are you sure?', position: 'top', delay: '50', tooltip: "delete" } do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </td>
    </tr>
    <% end %>

  </table>
  <div class="tables-paging center-align">
    <%= will_paginate @pocs, param_name: 'poc_page',
      previous_label: pagination[:previous_label], next_label: pagination[:next_label] %>
  </div>
<% else %>
  <h6 class="no-record">No Records found</h6>
<% end %>
<script>
  $('.tooltipped').tooltip({delay: 50});
</script>
