<% if @pocs.present? %>
<table class="highlight para-text dash-table">
  <thead>
    <tr>
      <th>No.</th>
      <th data-field="id">Name <%= sorting_link("name", "poc") %></th>
      <th data-field="price">Downloads <%= sorting_link("no_of_downloads", "poc") %></th>
      <th data-field="price">Views <%= sorting_link("impressions", "poc") %></th>
      <th data-field="price">Favourites <%= sorting_link("favourites", "poc") %></th>
      <th data-field="price">Show/Hide</th>
    </tr>
  </thead>

  <tbody>
    <% @pocs.each.with_index do |poc, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= poc.name %></td>
      <td><%= poc.no_of_downloads.to_i %></td>
      <td><%= poc.impressions.count.to_i %></td>
      <td><%= poc.favourites.count.to_i %></td>
      <td>
        <div class="switch">
          <label>
            <input type="checkbox" onchange="change_hide('<%= hide_repository_path(poc.id) %>')" <%= "checked" if poc.hide %>>
            <span class="lever"></span>
          </label>
        </div>
      </td>
      <td data-field="price">
        <%= link_to edit_repository_path(poc.id) do %>
        <i class="material-icons">mode_edit</i>
        <% end %>
        <%= link_to repository_path(poc.id, user_id: params[:id]), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="material-icons">delete</i>
        <% end %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
<%= will_paginate @pocs, param_name: 'poc_page' %>
<% else %>
  <b>No POCs to show.</b>
<% end %>
</div>
<br>
