<header class="no-padding">
  <div class="navbar-fixed">
    <nav class="navfeature">
      <div class="container nav-wrapper">
        <%= link_to repositories_path do %>
          <span class="hide-on-small-only">
            <%= image_tag "logo.png", width: 30, id: "appicon", style: 'vertical-align: middle;margin-bottom:10px;margin-right:10px;'%>
          </span>
          <span style="font-weight:300;font-size:1.3rem;" id="header-large" class="leftRapper">Code Forest</span>
          <% end %>
        <ul class="hide-on-med-and-down right" id="nav-mobile">
          <% if params[:action] == 'index' && params[:controller] == 'repositories' %>
            <%= render partial: 'search_form' %>
          <% end %>
          <% unless current_user.present? %>
          <li class="menu-item" id="menu-item-24">
            <a href="/auth/github">LOGIN</a>
          </li>
          <% else %>
          <li class="menu-item" id="menu-item-24">
            <a class="dropdown-button user-img-dropdown" href="#!" data-activates="dropdown1"><%= image_tag current_user.avtar_url, size: "64x64" %> <i class="material-icons right">arrow_drop_down</i></a>
            <ul class="dropdown-content" id="dropdown1">
              <li class="menu-item" id="menu-item-24">
                <%= link_to user_path(current_user.id) do %>
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                Dashboard
                <% end %>
              </li>
              <li class="menu-item" id="menu-item-24">
                <%= link_to signout_path, method: :delete do %>
                <i class="fa fa-sign-in fa-rotate-180" aria-hidden="true"></i>
                Logout
                <% end %>
              </li>
            </ul>
          </li>
          <% end %>
        </ul>
        <a class="button-collapse" data-activates="slide-out" href="#">
          <i class="mdi mdi-menu"></i>
        </a>
      </div>
    </nav>
  </div>
</header>
<script>
  $(document).ready(function () {
    if ($('input.select-dropdown').length == 0) {
      $('select').material_select();
      $(".dropdown-button").dropdown();
    }
  });
</script>
