<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>CodeForest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="home page page-id-5 page-template page-template-home-page page-template-home-page-php" data-gr-c-s-loaded="true">
    <%= render partial: 'layouts/header'%>
    <% flash.each do |key, message| %>
    <script>Materialize.toast('<%= message%>', 4000, '<%= key %>');</script>
    <% end %>
    <%= yield %>
    <%= render partial: 'layouts/footer'%>
  </body>
</html>
<script>
$( document ).ajaxStart(function() {
  $.blockUI({ message: "<h6>please wait...</h6>" });
});

$( document ).ajaxStop(function() {
  $.unblockUI();
});
</script>
